<?xml version="1.0" encoding="UTF-8"?>
<phpunit failOnWarning="true" bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="TextMod - WP Comments Addon Plugin">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>src/WPCommentsFilter.php</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="coverage.xml"/>
    </logging>
</phpunit>